<ul>
  <li>
    <a href="https://hairbook.jp">
      <%= image_tag '/hairbook-min-2.png', width: '780', height: '240', alt: 'お探しの美容室を手軽に保存' %>
    </a>
  </li>
  <li className="mt-2">
    <a href="https://hairbook.i-b-c.jp">
      <%= image_tag '/hairbooklp-min.png', width: '780', height: '240', alt: 'ヘアサロンマーケティング' %>
    </a>
  </li>
  <li className="mt-2">
    <a href="https://instabootcamp.i-b-c.jp">
      <%= image_tag '/insta_new_bannar.png', width: '800', height: '280', alt: 'インスタブートキャンプ' %>
    </a>
  </li>
  <li className="mt-2">
    <a href="https://media.hairbook.jp">
      <%= image_tag '/hairbook_media-min.png', width: '800', height: '280', alt: 'Hairbookメディア' %>
    </a>
  </li>
  <li className="mt-2">
    <a href="https://salonjobs.jp">
      <%= image_tag '/salonjobs_toC-min.png', width: '780', height: '240', alt: 'サロンジョブズ' %>
    </a>
  </li>
  <li className="mt-2">
    <a href="https://salonjobs.jp/about">
      <%= image_tag '/salonjobs_toB-min.png', width: '780', height: '240', alt: 'サロンジョブズ' %>
    </a>
  </li>
</ul>
