<div class='container mx-auto sm:px-10 md:px-20'>
  <div class='mt-20'>
    <h1 class='pt-5 text-xl font-bold text-center text-gray-900 sm:text-2xl md:text-3xl lg:text-3xl xl:text-3xl leading-10'>
    IT Bootcamp for Beautyとは？ <br />
    〜美容サロンをDXする〜
    </h1>
    <%= image_tag '/about.svg', class: 'img-fluid my-5' %>
  </div>
  <div class='mb-20'>
    <p class='space-y-8 leading-8'>
    IT Bootcamp for Beautyとは、美容サロンの経営者やそこで働くスタッフの方々のために、DX支援する完全無料サービスです。<br />
    「DX(デジタルトランスフォーメーション)」とは、企業がデータとデジタル技術を活用して、業務プロセスを改善していくだけでなく、製品やサービス、ビジネスモデルそのものを変革するとともに、組織、企業文化、風土をも改革し、競争上の優位性を確立することです。<br />
    美容業界においては、インターネットやSNSを活用したIT集客や顧客情報を活用したCRMなどまだまだ他業界に比べて時代の遅れをとっており、発展途上にあるといえます。<br />
    そのため、IT Bootcamp for Beautyでは幅広いIT集客の支援をはじめ、コミュニティとしても多くの方に活用してもらえるよう、全てのサービスを無料にて提供しております。
    </p>
  </div>
</div>

        <section class='bg-zinc-50 py-10 sm:py-20'>
          <div class='container mx-auto px-5 sm:px-10 md:px-20'>
              <h2 class='text-xl sm:text-3xl md:text-3xl lg:text-3xl font-bold text-center text-gray-900 my-5'>
              主な取引先一覧
              </h2>
              <p class='text-sm font-bold text-center my-6 leading-7'>IT Bootcamp for Beauty は美容業界の様々な業種のお客様にご利用いただいています。</p>
              <div class="grid grid-cols-2 md:grid-cols-3 p-0 sm:p-5 gap-3 mx-0 lg:mx-20">
                <%= image_tag '/client_logo_01.png', class: 'img-fluid' %>
                <%= image_tag '/client_logo_02.png', class: 'img-fluid' %>
                <%= image_tag '/client_logo_03.png', class: 'img-fluid' %>
                <%= image_tag '/client_logo_04.png', class: 'img-fluid' %>
                <%= image_tag '/client_logo_05.png', class: 'img-fluid' %>
                <%= image_tag '/client_logo_06.png', class: 'img-fluid' %>
              </div>
          </div>
        </section>


        <div class='container mx-auto sm:px-10 md:px-20'>
          <section class='py-5 sm:py-20'>
            <h2 class='text-xl sm:text-3xl md:text-3xl lg:text-3xl font-bold text-center text-gray-900 my-5'>
            サービス概要
            </h2>

            <div class="grid lg:grid-cols-5 lg:gap-10 my-5 mt-5 sm:mt-20">
              <div class="lg:col-span-2 py-5 sm:py-10 order-2 lg:order-1">
                <h3 class='text-xl sm:text-2xl md:text-2xl lg:text-2xl font-bold'>3分でわかる！<br />美容師のための経営お役立ち情報発信</h3>
                <p class='mt-5 leading-6'>初心者向けインスタグラム活用法について動画で解説した記事や、みなさんお馴染み、ホットペッパービューティーの役立つ豆知識情報など、美容室経営における「聞きたいけど今更誰にも聞けない」そんなモヤモヤを解消できる情報を、3分あれば理解できるよう、短編記事で日々発信中。</p>
              </div>
              <div class="lg:col-span-3 order-1 lg:order-2">
                <%= image_tag '/service_01.jpg', class: 'img-fluid' %>
              </div>
            </div>
            <div class="grid lg:grid-cols-5 lg:gap-10 my-5 lg:my-10">
              <div class="lg:col-span-3 lg:order-1">
                <%= image_tag '/service_02.jpg', class: 'img-fluid' %>
              </div>
              <div class="lg:col-span-2 py-5 lg:py-10 lg:order-2">
              <h3 class='text-xl sm:text-2xl md:text-2xl lg:text-2xl font-bold'>インスタグラマー美容師さんへの<br />インタビュー動画記事</h3>
                <p class='mt-5 leading-6'>2022年カミカリスマ選出！
                  あのsandさんや大阪福島エリアでYoutubeチャンネル登録者数5万人超えのBELOMANさんなど、超有名美容師さんに、美容師として成功するまでに行ってきたことについて語っていただき、動画として無料公開中。</p>
              </div>
            </div>
            <div class="grid lg:grid-cols-5 lg:gap-10 my-5 lg:my-10">
              <div class="lg:col-span-2 py-5 sm:py-10 order-2 lg:order-1">
              <h3 class='text-xl sm:text-2xl md:text-2xl lg:text-2xl font-bold'>近日待望のリリース予定！<br />美容師間のコミュニティツール</h3>
                <p class='mt-5 leading-6'>美容師さん同士が自由に情報交換ができるコミュニティツールを現在準備中です。SNSの最新情報や、美容業界のトレンドに関する情報交換はもちろん、プライベートツールとしてのご利用も可能。リリースお楽しみに！</p>
              </div>
              <div class="lg:col-span-3 order-1 lg:order-2">
                <%= image_tag '/service_03.jpg', class: 'img-fluid' %>
              </div>
            </div>

          </section>
        </div>


        <section class='bg-zinc-50 p-5 sm:p-20'>
          <div class='container mx-auto px-5 sm:px-10 md:px-20'>
            <h2 class='text-xl sm:text-3xl md:text-3xl lg:text-3xl font-bold text-center text-gray-900 my-5'>
              運営会社
            </h2>
              <div class='text-sm sm:text-base md:text-lg max-w text-gray-900 divide-y divide-gray-200'>
                <div class='flex flex-wrap py-6 md:py-10'>
                  <dt class='basis-1/3 font-semibold'>運営会社</dt>
                  <dd class='basis-2/3'>株式会社Cajon（カホン）</dd>
                </div>
                <div class='flex flex-wrap py-6 md:py-10'>
                  <dt class='basis-1/3 font-semibold'>代表者</dt>
                  <dd class='basis-2/3'>中福 渉馬</dd>
                </div>
                <div class='flex flex-wrap py-6 md:py-10'>
                  <dt class='basis-1/3 font-semibold'>設立</dt>
                  <dd class='basis-2/3'>2011年7月28日</dd>
                </div>
                <div class='flex flex-wrap py-6 md:py-10'>
                  <dt class='basis-1/3 font-semibold'>資本金</dt>
                  <dd class='basis-2/3'>75,000,000円（資本準備金含む）</dd>
                </div>
              </div>
          </div>
        </section>
